<!doctype html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, message| %>
    <%= content_tag :p, class: "flash flash-#{name}" do %>
      <%= message %>
    <% end %>
  <% end %>

  <%= yield %>
</body>
</html>
